@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
}



h1{
    font-family: "Poppins",sans-serif;
    font-size: 25px;

   
    color: rgb(207, 207, 207);
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    margin: 0;
    
}
#trns{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.68); /* Camada escura */
    z-index: 1;
}
h5{

    font-family: "Poppins",sans-serif;
    font-size: 17px;
    font-style: italic;
    color: rgb(207, 207, 207);
    margin-top: 10px;


}
#div-vid{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1; /* Ensure the video is behind other content */
    flex-shrink: 0; /* Prevent shrinking */
}
/* Mudar o estilo da div ou da id do vid somente se necessario*/
#vid-bg{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    
}

header a{

    font-size: 1.10em;

}


#up-div{
    
    padding-top: 0.3em;
    padding-right: 1.2em;
    padding-left: 1.2em;
    padding-bottom: 0.3em;
    text-transform: uppercase;
    color: whitesmoke;
    line-height: 1;
    font-size: 1.10em;
    background-color:rgba(0, 0, 0, 0);
    font-family: "Poppins";
    font-optical-sizing: auto;
    font-style: normal;
    max-width: 700px;
    top: 15px;
    right: 0;
    z-index: 2;
    
    position: fixed;
}   
a{ 
    /* Precisa achar uma maneira de alterar o tamanho da fonte do link somente de um em especifico
    o "assita o vid" do index */ 
    font-size: 40px;
    font-family: "Poppins";
    text-decoration: none;
    padding-right: 0.3em;
    padding-left: 0.3em;
    color: whitesmoke;
}
a:hover{
color:rgb(33, 33, 255);
}
#texto1{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: aliceblue;
    z-index: 2;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;


}
#texto2{
    
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: aliceblue;
    z-index: 2;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
#texto2 a{

font-size: 20px;

}

#footer {
    font-family: "Poppins",sans-serif;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    box-sizing: border-box;
    flex-shrink: 0; /* Prevent the footer from shrinking */
}

#div-form {
    position: relative; /* Allows positioning with top, left, etc. */
    margin-top: 100px; /* Adjust this value to move the form lower */
    top: 100px;
    background-color: rgba(255, 255, 255, 0.8); /* Example background */
    padding: 20px; /* Example padding */
    border-radius: 5px; /* Example border radius */
    z-index: 20; /* Ensure it appears above the background */
}

#cadastroForm {
    font-family: "Poppins", sans-serif;
    z-index: 20; /* Higher z-index to ensure it appears above other elements */
    color: white;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    margin: 50px auto;
    width: 300px;
    border-radius: 8px;
    justify-content: center; 
    align-items: center; 
    position: relative; /* Allows positioning with top, left, etc. */
    margin-top: 100px; /* Adjust this value to move the form lower */
    background-color: rgba(0, 0, 0, 0.438); /* Example background */
}

#cadastroForm h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

#cadastroForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#cadastroForm input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#cadastroForm button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#cadastroForm button:hover {
    background-color: #555;
}

#container {
    text-align: center;
    max-width: 600px; 
    padding: 20px;
}
#maior, #menor {
    width: 45%; /* Adjust the width as needed */
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */

}

#maior h1, #menor h5 {
    margin: 0; /* Remove default margin */
}
#meio1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(252, 4, 4);
    z-index: 2;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;

}

